<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="luca.general.cocktail"
      android:versionCode="1" android:versionName="@string/versione">
    <application android:label="@string/app_name" android:icon="@drawable/logoapp" android:debuggable="true">
        <activity android:name=".Tably"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start" ></activity>
		<activity android:name=".HelpMyChoice" ></activity>
		<activity android:name=".ShowCocktailChar" 
				  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest> 